@model Phoenix.SSO.Quickstart.Account.LogoutViewModel
@* *@
@* <div class="logout-page"> *@
@*     <div class="lead"> *@
@*         <h1>خروج از سیستم</h1> *@
@*         <p>آیا مایل به خروج از سیستم هستید؟</p> *@
@*     </div> *@
@* *@
@*     <form asp-action="Logout"> *@
@*         <input type="hidden" name="logoutId" value="@Model.LogoutId"  /> *@
@*         <div class="form-group"> *@
@*             <button class="btn btn-primary">بله</button> *@
@*         </div> *@
@*     </form> *@
@* </div> *@
