@page
@model Um.Presentation.RestApi.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Phoenix User Management Service</title>
</head>
<body>
    <h1>Phoenix User Management Service Is Ready.</h1>
</body>
</html>